@import "tailwindcss";

/* Global Styles */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar (Chrome, Safari, Edge) */
.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

/* Hide scrollbar (Firefox) */
.no-scrollbar {
  scrollbar-width: none;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}


